In [25]:
import requests
from lxml import etree
import pandas as pd


pd.set_option('expand_frame_repr', False)
pd.set_option('display.max_rows', 1000)

# 抓取网址
url = 'https://fund.eastmoney.com/trade/pg.html?'

In [53]:
# 提取网页
txt = requests.get(url).text


html = etree.HTML(txt)

In [70]:
# //*[@id="tblite_hh"]/tbody/tr[1]/td[1]
# //*[@id="tblite_hh"]/tbody/tr[2]/td[1]

# //*[@id="tblite_gp"]/tbody/tr[1]/td[1]
s1=html.xpath('''//*[@id="tblite_pg"]/tbody//td[1]/text()''')

In [71]:
# //*[@id="tblite_hh"]/tbody/tr[1]/td[2]/a
# //*[@id="tblite_gp"]/tbody/tr[1]/td[2]/a
# html.xpath('''//*[@id="tblite_pg"]/tbody//td[2]/a''')

In [72]:
df=pd.DataFrame([s1],index=["基金代码"]).T
df.head()

     基金代码
0  005669
1  000209
2  009644
3  000689
4  009645

In [73]:
# //*[@id="tblite_hh"]/tbody/tr[1]/td[4]

# html.xpath('''//*[@id="tblite_pg"]/tbody//td[4]/text()''')[:3]

In [74]:
# //*[@id="tblite_hh"]/tbody/tr[1]/td[13]
# html.xpath('''//*[@id="tblite_pg"]/tbody//td[13]/text()''')[:3]

In [75]:
list2=["日增长率","近1周","近1月","近3月","近6月","近1年","近2年","近3年","今年来","成立来"]

In [76]:
for x,y in enumerate(list2):
    x2=x+4
    df[y]=html.xpath('''//*[@id="tblite_pg"]/tbody//td[{}]/text()'''.format(x2))

In [77]:
df.head()

     基金代码   日增长率    近1周      近1月     近3月      近6月      近1年      近2年      近3年     今年来      成立来
0  005669  2.67%  3.42%   -5.84%  14.27%  107.97%  149.87%  192.38%  237.58%  89.50%  214.83%
1  000209  2.98%  4.04%  -12.93%  11.83%   92.01%  131.02%  306.72%  416.52%  83.18%  429.95%
2  009644  2.72%  3.12%  -11.41%  11.63%   92.73%  128.64%      ---      ---  74.94%  129.58%
3  000689  2.22%  3.58%   -7.43%  10.38%   98.51%  128.14%  204.78%  252.98%  83.81%  240.99%
4  009645  2.72%  3.11%  -11.44%  11.49%   92.25%  127.52%      ---      ---  74.26%  128.11%